@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
img{
	border: none;
}
ul li{
	list-style: none;
}
body{
	font-family: "微软雅黑";
	width:100%;
	min-width:1100px ;
	margin: 0 auto;
}
 input{
	border: none;
}
